:root {
    --Heading-text-background: rgb(72, 132, 241);
    
  }


* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

header {
    background-color: white;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    

}

header nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  padding: 2%;
  line-height: 1.5;
  margin: 5px;
  position: relative;
  
    

}

a {
    margin: 10px;
    color: blue;


}

header img {
height: 125px;
border-radius: 10px;
margin-left: 10px;



}


header h1 {
    font: bold;
    color: black;
    padding: 5px 5px 5px 5px;
    margin: 10px;
    position: relative;
    font-size: 55px;
    background-color: var(--Heading-text-background);
    border-radius: 10px;
}

.hero img{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 500px;
    width: 100%;
    height: 500px;
    margin-top: 10px;

    

}

body h2 {

font-size: 40px;
line-height: 1.5;

}

body p {
    font-size: 30px;
    line-height: 1.2;

}

body h2 {
    text-align: left;

}


#contact a{
    font-size: 30px ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    
}

#contact h2{
    text-align: center;
    padding-top: 20px;
}

#contact a:hover{
    background-color: aquamarine;
    border-radius: 5px;
    box-shadow: 5px gray;
    margin: 5px;
    padding: 5px;
   
    }

.navlinks a:hover{
background-color: aquamarine;
border-radius: 5px;
box-shadow: 5px gray;
margin: 5px;
padding: 5px;


}

#about {
    margin: 20px 20px 5px 20px;
}

#mywork {
    margin: 5px 20px 5px 20px;
}

footer, footer h2 {
    text-align: center;
    margin: 20px 20px 5px 20px;
}





#mywork {
    display: flex;
    margin-top: 20px;
    flex-direction:column;
    justify-content: center;
    
}

#firstproject img{
    height: 250px;
    

}
#firstproject {
    margin-top: 40px;
    text-align: center;
}

.projects {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    

}





@media screen and (max-width: 1026px) {
    header {
      flex-direction: column;
    }

    header img {
    margin-top: 10px;    

    }

    .navlinks{
    flex-direction: column;
    text-align: center;
    }
}
   

