:root {
    --Heading-text-background: rgb(72, 132, 241);
    
  }


* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}



header {
    background-color: white;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  padding: 2%;
  line-height: 1.5;
  margin: 5px;
  position: relative;
}

header a {
    display: flex;
    margin: 10px;
}



header img {
margin-top: 10px;
height: 125px;
border-radius: 10px;
margin-left: 10px;
}


header h1 {
    font: bold;
    color: black;
    padding: 5px 5px 5px 5px;
    margin: 10px;
    position: relative;
    font-size: 55px;
    
    border-radius: 10px;
}

.hero img{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 500px;
    width: 100%;
    height: 500px;
    margin-top: 10px;

    

}

body h2 {

font-size: 40px;
line-height: 1.5;

}

body p {
    font-size: 30px;
    line-height: 1.2;

}

body h2 {
    text-align: left;

}


#contact a{
    font-size: 30px ;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    
}

#contact h2{
    text-align: center;
    padding-top: 20px;
}

#contact a:hover{
    background-color: aquamarine;
    border-radius: 5px;
    box-shadow: 5px gray;
   
    

   
    }

.navlinks a:hover{
background-color: aquamarine;
border-radius: 5px;
box-shadow: 5px gray;
margin: 5px;
padding: 5px;

}

#about {
    margin: 20px 20px 5px 20px;
}

#mywork {
    margin: 5px 20px 5px 20px;
}

footer, footer h2 {
    text-align: center;
    margin: 20px 20px 5px 20px;
}





#mywork {  
margin-top: 20px;

    
    
}

#firstproject img{
    height: 400px;
    width: 700px;
    

}

#firstproject {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    flex: 1 1 700px;
}

#firstproject h3 {
text-decoration: underline;
margin-bottom: 10px;

}

#secondproject img{
    height: 250px;
    width: 350px;

}

#secondproject {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    

}

#secondproject h3 {
    text-decoration: underline;
    margin-bottom: 10px;
    
    }

#thirdproject {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

#thirdproject img{
    height: 250px;
    width: 350px;

}

#thirdproject h3 {
    text-decoration: underline;
    margin-bottom: 10px;
    
    }

#thirdproject{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

#fourthproject img{


}

#fourthproject{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

#fourthproject h3 {
    text-decoration: underline;
    margin-bottom: 10px;
    
    }


.portfolio {
    
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;

}

.portfolio h3 {
    size: 200%;
}


@media screen and (max-width: 1200px) {
    header {
      flex-direction: column;
    }

    header img {
    margin-top: 10px;    

    }

    .navlinks{
    flex-direction: column;
    text-align: center;
    }
}
   

